<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BlueBox</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="landing">
  
  <div id="p5-bg"></div>

  <div class="scene">
    <div class="cube" onclick="openBox()">
      <div class="face front">
        <form id="loginForm">
          <h1 id="BlueBox">BlueBox</h1>
          <input type="text" id="password" name="password" placeholder="password">
        </form>
      </div>
      <div class="face back"> <img src = "ossc.png" width="180" height="180"/> </div>
      <div class="face right"></div>
      <div class="face left"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
  </div>

  <script>
  const cube = document.querySelector('.cube');
  const form = document.getElementById('loginForm');
  const passwordInput = document.getElementById('password');

  let isHovered = false;
  let autoRotateX = 0;
  let autoRotateY = 0;
  let targetRotateX = 0;
  let targetRotateY = 0;
  let currentRotateX = 0;
  let currentRotateY = 0;


  document.addEventListener('mousemove', (e) => {
    if (isHovered) {
      const x = (e.clientX / window.innerWidth - 0.5) * 2;
      const y = (e.clientY / window.innerHeight - 0.5) * -2;
      targetRotateX = y * 20; 
      targetRotateY = x * 40;
    }
  });


  function animateCube() {
    if (isHovered) {

      currentRotateX += (targetRotateX - currentRotateX) * 0.05;
      currentRotateY += (targetRotateY - currentRotateY) * 0.05;
    } else {
      
      autoRotateY += 0.09;
      autoRotateX -= 0.0;
      currentRotateX += (autoRotateX - currentRotateX) * 0.05;
      currentRotateY += (autoRotateY - currentRotateY) * 0.05;
    }

    cube.style.transform = `rotateX(${currentRotateX}deg) rotateY(${currentRotateY}deg)`;
    requestAnimationFrame(animateCube);
  }

    animateCube();

   
    cube.addEventListener('mouseenter', () => {
      isHovered = true;
    });

    cube.addEventListener('mouseleave', () => {
      isHovered = false;
    });

    async function openBox() {
      const password = passwordInput.value;

      const res = await fetch('/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `password=${encodeURIComponent(password)}`
      });
      
      if (res.ok){

        cube.classList.add('open');

        setTimeout(() => {
          window.location.href = "/vault";
        }, 1200);
      } else {
        alert("Invalid password");
      }
    }
  </script>

  <script src="/sketch.js"></script>

</body>
</html>
